<div id="particles-js"></div>

<div class="container">
    <div class="login-wrapper" fxLayout="column" fxLayoutAlign="start center">
        <div class="title" fxLayout="row" fxLayoutAlign="space-between">
            <h1>($ Dream Bank</h1>
            <h2> 
                <button mat-icon-button aria-label="close" routerLink="/dashboard">
                    <mat-icon>close</mat-icon>
                </button>
            </h2>
        </div>

        <router-outlet></router-outlet>
    </div>

</div>